.center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.center a {
  cursor: pointer;
  margin: 0 1rem;
  text-decoration: none;
}

.hilite {
  background-color: red;
  color: white;
}

.margin-h-3 {
  margin: 0 3rem;
}
button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.buttonDisabled {
  cursor: auto;
  background-color: #a7c3e9;
}
